ATLAS_URL=/**
 * The URL of your MongoDB Atlas cluster. It should be in the format:
 * mongodb+srv://<username>:<password>@cluster0.mongodb.net/myFirstDatabase?retryWrites=true&w=majority
 * Replace <username>, <password>, and myFirstDatabase with your actual credentials and database name.
 */